{% extends 'blog/post/pages/single_base.html' %}<!---->
{% block title %} Mahalliy {% endblock title%}<!---->
{% block firstpost %}{% for post in posts %} {% if forloop.counter%2==1 %}
<li>
    <div class="media wow fadeInDown">
        <a href="{{post.get_absolute_url}}" class="media-left">
            <img alt="" src="{{post.image.url}}" />
        </a>
        <div class="media-body">
            <span>{{post.created}}</span>
            <a href="{{post.get_absolute_url}}" class="catg_title"> {{post.title|truncatewords:7}}</a>
        </div>
    </div>
</li>
{% endif %} {% endfor %} {% endblock firstpost %} {% block secondpost %} {% for post in posts %}<!---->
{% if forloop.counter%2==0 %}
<li>
    <div class="media wow fadeInDown">
        <a href="{{post.get_absolute_url}}" class="media-left">
            <img alt="" src="{{post.image.url}}" />
        </a>
        <div class="media-body">
            <span>{{post.created}}</span>
            <a href="{{post.get_absolute_url}}" class="catg_title"> {{post.title|truncatewords:7}}</a>
        </div>
    </div>
</li>
{% endif %} {% endfor %}{% endblock secondpost %}
